.mainContainer {
  background-color: #f2f3f7;
  border-top-left-radius: 20px;
  padding: 20px;
  margin: auto;
}
.input {
  outline: none;
  border: none;
}
.reporting {
  font-size: 13px;
}
.sub-reporting {
  font-size: 8px;
}
.activeFilter {
  background-color: transparent;
  border: #00b0d7;
  border-width: 1px;
  border-style: solid;
  color: #00b0d7;
}
.card {
  border-radius: 20px !important;
}
.badge {
  position: absolute;
  top: -10;
  left: 5;
  transform: translateY(-40px);
  /* translate: middle; */
}
.card-title {
  font-size: 12px !important;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}
.card-subtitle {
  font-size: 8px !important;
  margin-bottom: 10px !important;
}
.links:hover {
  cursor: pointer;
  background-color: aqua;
  opacity: 0.8;
}
.links-text {
  font-size: 13px;
  width: 100%;
}
.brand {
  font-size: 14px;
  font-weight: 700;
}
